name: consul-dataplane-checks
on:
  push:
    branches:
      - main
      - "release/*.*.x"
  pull_request:

jobs:
  get-go-version:
    uses: ./.github/workflows/reusable-get-go-version.yml

  unit-tests:
    name: unit-tests
    needs:
      - get-go-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version: ${{ needs.get-go-version.outputs.go-version }}
      - run: go test ./... -p 1 # disable parallelism to avoid port conflicts from default metrics and lifecycle server configuration

  integration-tests:
    name: integration-tests
    needs:
      - get-go-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version: ${{ needs.get-go-version.outputs.go-version }}
      - run: make docker
      #  Currently the server version below is set to 1.15-dev: integration-tests/main_test.go
      - run: echo "VERSION=$(make version)" >> $GITHUB_ENV
      - run: cd integration-tests && go test -dataplane-image="consul-dataplane:${{ env.VERSION }}"

  golangci:
    name: lint
    needs:
      - get-go-version
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@fac708d6674e30b6ba41289acaab6d4b75aa0753 # v4.0.1
        with:
          go-version: ${{ needs.get-go-version.outputs.go-version }}
      - uses: actions/checkout@8e5e7e5ab8b370d6c329ec480221332ada57f0ab # v3.5.2
      - name: golangci-lint
        uses: golangci/golangci-lint-action@08e2f20817b15149a52b5b3ebe7de50aff2ba8c5 # v3.4.0
